:root {
  --gutter-size: 16px;
}

body {
  font-family: sans-serif;
  background-color: darkolivegreen;
  color: wheat;
}

h1 {
  text-align: center;
}

.container {
  margin: var(--gutter-size);
}

.controls div {
  margin: var(--gutter-size) 0;
}

.message-log {
  --message-log-border: 1px solid #333;
  margin-top: calc(var(--gutter-size) * 2);
  border-bottom: var(--message-log-border);
  max-width: 800px;
}

.message-log p {
  padding: calc(var(--gutter-size) / 4);
  margin: 0;
  color: whitesmoke;
  border-left: var(--message-log-border);
  border-right: var(--message-log-border);
}

/* TODO: Figure out why :first-child isn't working here */
.message-log p:first-child {
  border-top: var(--message-log-border);
}

.message-log-info {
  background-color: darkslategray;
  border-bottom: 1px solid gray;
  
}

.message-log-error {
  background-color: brown;
  border-bottom: 1px solid red;
}
